*{
    margin: 00px;
    padding: 00px;
    box-sizing: content-box;
    -webkit-print-color-adjust: exact !important;
    forced-color-adjust: exact !important;                 
    print-color-adjust: exact !important; 
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6ebe0;
    flex-direction: row;
    flex-flow: wrap;

}

.font{
    height: 375px;
    width: 250px;
    position: relative;
    border-radius: 10px;
}

.top{
    height: 30%;
    width: 100%;
    /* background-color: #8338ec; */
    position: relative;
    /* background-repeat: no-repeat;
    background-size: 280px; */
    z-index: 5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn {
    position: absolute;
    top: 25%;
    left: 38%;
    background-color: #8338ec;
    width: 200px;
    border-radius: 10px;
    color: white;
    height: 30px;
    border: none;
}

.btn:hover {
    position: absolute;
    cursor: pointer;
    background-color: #4c1e8d;
}
.btn-back {
    position: absolute;
    top: 25%;
    left: 52%;
    background-color: #8c66c0;
    width: 200px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: white;
    height: 30px;
    border: none;
}

.btn-back:hover {
    position: absolute;
    cursor: pointer;
    background-color: #4f1f92;
}

.bottom{
    height: 70%;
    width: 100%;
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top img{
    height: 100px;
    width: 100px;
    background-color: #e6ebe0;
    border-radius: 10px;
    position: absolute;
    top:60px;
    left: 75px;
}
.bottom p{
    position: relative;
    top: 60px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    text-emphasis: spacing;
}
.bottom .desi{
    font-size:12px;
    color: grey;
    font-weight: normal;
}
.bottom .no{
    font-size: 15px;
    font-weight: normal;
}
.barcode img
{
    height: 65px;
    width: 65px;
    text-align: center;
    margin: 5px;
}
.barcode{
    text-align: center;
    position: relative;
    top: 70px;
}

.back
{
    height: 375px;
    width: 250px;
    border-radius: 10px;
    /* background-color: #8338ec; */

}
.qr img{
    height: 80px;
    width: 100%;
    margin: 20px;
    background-color: white;
}
.Details {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}


.details-info{
    text-align: left;
    padding: 5px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    margin-top: 60px;
    line-height: 22px;
}

.logo {
    height: 40px;
    width: 150px;
    padding: 40px;
}

.logo img{
    height: 100%;
    width: 100%;
    color: white ;

}
.padding{
    padding-right: 20px;
}

@media screen and (max-width:400px)
{
    .container{
        height: 130vh;
    }
    .container .front{
        margin-top: 0px;
    }
    .btn {
        top: 60% !important;
        left: 12% !important;
    }
    .btn-back {
        top: 8% !important;
        left: 12% !important;
    }
}
@media screen and (max-width:520px)
{
    .container{
        height: 130vh;
    }
    .container .front{
        margin-top: 0px;
    }
    .btn {
        top: 60% !important;
        left: 24% !important;
    }
    .btn-back {
        top: 8% !important;
        left: 24% !important;
    }
}
@media screen and (max-width:600px)
{
    .container{
        height: 130vh;
    }
    .container .front{
        margin-top: 0px;
    }
    .btn {
        top: 40%;
        left: 8%;
    }
    .btn-back {
        top: 40%;
        left: 55%;
    }

}
@media screen and (max-width:880px)
{
    .btn {
        top: 25%;
        left: 20%;
    }
    .btn-back {
        top: 25%;
        left: 52%;
    }

}
@media screen and (max-width:1400px)
{
    .btn {
        top: 25%;
        left: 33%;
    }
    .btn-back {
        top: 25%;
        left: 52%;
    }

}